body{
    background-color: #9b4a90;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
}
header{
    text-align: center;
}
.prim_parrafo{
    width: 70%;
    padding: 10px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}
.seg_seccion{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    place-items: center;
}
input{
    align-items:stretch;
    margin-top:20px;
    padding: 10px;
    background-color: #fff;
    color: #9b4a90;
    font-weight: bold;
    border-radius: 5px;
    border: none;

}
